$headerBackground : rgba(50, 50, 50, .9);
$Backgound : #282929;
$text-color : #FFFBFB;
$accent : #C79864;
$accentGradient : linear-gradient(to left, #c79864, #cc7f39);
$sectionGradient : linear-gradient(#323232 0%, #2b2b2b 100%);
$grid__maxWidth: 70%;
$overlayGradient : linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(117, 116, 116, .4) 100%);
$font-weights: ("regular" :400,
    "medium" :500,
    "bold" :700,

);



$marginLeft : 10%;
$marinRight: 10%;
$mobileWidth:950px;
$shadow : 5px 5px 5px 2px #000;
$headerShadow : 0 50px 50px rgba(0, 0, 0, 0.44);
$serachShadowSmall : 0 15px 6px rgba(0, 0, 0, 0.26);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin mobile {
    @media (max-width: $mobileWidth) {
        @content;
    }
}

@font-face {
    font-family: 'AnthoniSignature';
    src: url('../static/fonts/AnthoniSignature.ttf');
    src:
        local('Anthoni Signature'),
        local('Anthoni-Signature'),
        url('../static/fonts/AnthoniSignature.ttf') format('opentype')
}

@font-face {
    font-family: 'BellMT';
    src: url('../static/fonts/BELL.TTF');
    src:
        local('BellMT'),
        local('Bell-MT'),
        url('../static/fonts/BELL.TTF') format('opentype')
}

body {
    // font-family: 'BellMT', sans-serif;
    font-family: 'Antic Slab', serif;
    background-color: $Backgound;
    overflow-x: hidden;

}

.nav_bar {
    position: fixed;
    width: 100vw;
    background-color: $headerBackground;
    overflow: hidden;
    padding: 1rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
        display: none;
    }

    a {
        color: $text-color;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &.active {
            color: $accent;
        }

        &:hover {
            color: $accent;
        }
    }

    .logo {
        margin-left: $marginLeft;
        margin-right: auto;
        color: $accent;
        font-family: AnthoniSignature;
    }

    .btn {
        margin-right: $marinRight;
        color: $text-color;
        background: $accentGradient;
        border-radius: 25px;
    }
}




.home {
    background: url('../static/imgs/profile.png') top right no-repeat fixed;
    background-size: contain;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;


    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $overlayGradient;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .text_zone {
            display: flex;
            flex-direction: column;
            margin-left: $marginLeft;

            div {
                color: $text-color;
                padding: 2rem;
            }

            h1 {
                color: $accent;
                font-family: AnthoniSignature;
            }
        }
    }

}







.about_me {
    width: 100%;
    background: $sectionGradient;
    color: $text-color;
    padding-left: $marginLeft;
    padding-right: $marinRight;
    padding-top: 5rem;
    padding-bottom: 5rem;

    display: flex;
    // flex-direction: row;
    flex-flow: row wrap;
    // justify-content: center;
    align-items: center;

    img {
        width: 30%;
    }

    .text_box {
        width: 65%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 0px;

    }

}


.skill-container {
    max-width: 100%;
    border-radius: 5px;
    background: #515050;
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding: 20px;
    grid-template-columns: auto auto auto auto;

    .stars {
        i {
            color: $accent;
        }
    }
}


.Services {
    background: $sectionGradient;
    color: $text-color;
    padding-left: $marginLeft;
    padding-right: $marinRight;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.My_Projects {
    background: $sectionGradient;
    color: $text-color;
    padding-left: $marginLeft;
    padding-right: $marinRight;
    padding-top: 10rem;
    padding-bottom: 10rem;
    .badges{
        background: $text-color;
        color: $text-color;
        width:min-content;
        height: min-content;
        padding: 1rem;
    }
}
.My_Certifications{
    background: $sectionGradient;
    color: $text-color;
    padding-left: $marginLeft;
    padding-right: $marinRight;
    padding-top: 10rem;
    padding-bottom: 10rem;
    .badges{
        background: $text-color;
        color: $text-color;
        width:min-content;
        height: min-content;
        padding: 1rem;
    }
}

.Pricing {
    background: $sectionGradient;
    color: $text-color;
    padding-left: $marginLeft;
    padding-right: $marinRight;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.contact{
    width: 100%;
    background: $sectionGradient;
    color: $text-color;
    padding-left: $marginLeft;
    padding-right: $marinRight;
    padding-top: 5rem;
    padding-bottom: 5rem;
    a{

        color: $text-color;
    }
    .contact-form{
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        padding: 40px 30px;
        border-left: 2px solid;
        border-image: 1 linear-gradient(to top, #c79864, #cc7f39);

        .contact-btn{
            background: linear-gradient(to right, #c79864, #cc7f39);
            color: $text-color;
            font-weight: bold;
            border-radius: 1rem;
            padding: 1rem;
            border-color: rgba(0, 0, 0, 0.0);
        }
        .form-group .form-control {
            background-color: transparent;
            color: #fff;
            border: 1px solid rgba(255, 255, 255, .4);
            outline: none;
            box-shadow: none;
            border-radius: 0;
            height: 46px;
            padding: 12px;
            

        }

        .form-group .form-control:focus {
            border-image: 1 linear-gradient(to right, #c79864, #cc7f39);
        }

        .form-group textarea.form-control {
            height: 120px;
            resize: none;
            padding-top: 18px;
        }
    }

    .contact-box {
        position: relative;
        text-align: center;
        padding: 1rem 1.5rem;
        margin-bottom: 30px;
        margin-left: 55px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .2);
        border-left: 2px solid;
        border-image: 1 linear-gradient(to top, #c79864, #cc7f39);
        a{
            color: $text-color;
        }
    }

}


@include mobile {
    .nav_bar {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: none;
        }

        .logo {
            margin-right: auto;
            margin-left: auto;
            display: block;
        }

        .icon {
            display: block;
        }
    }

    .nav_bar.responsive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            display: block;
        }

        .btn {
            margin-right: auto;
            margin-left: auto;
            color: $text-color;
            background: $accentGradient;
            border-radius: 25px;
        }
    }

    .home {
        background: url('../static/imgs/profile.png') bottom right no-repeat fixed;
        background-size: 15em;
        position: relative;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        display: flex;
        justify-content: center;
        align-items: center;

        .text_zone {
            width: 100vw;
            margin-left: auto;
            margin-right: auto;

            h3 {
                font-size: 1em;
                font-family: 'Antic Slab', serif;

            }

            h1 {
                font-size: x-large;
            }

        }
    }

    .about_me {
        width: 100%;
        background: $sectionGradient;
        color: $text-color;
        padding-left: $marginLeft;
        padding-right: $marinRight;
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        text-align: justify;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
        }

        .text_box {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: 0px;

        }

    }

    .skill-container {
        max-width: 100%;
        width: 100%;
        border-radius: 5px;
        background: #515050;
        display: grid;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        padding: 20px;
        grid-template-columns: auto auto;
     
        .stars {
            width: 100%;
            size: 5px;

            i {
                color: $accent;
                font-size: 0.7rem
            }
        }
    }

}