@import "./resets";
@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

$headerHeight: 100px;

@mixin flexCenter($direction: row) {
    display: flex;
    justify-content: flex-start;
    flex-direction: $direction;
}

@mixin mobile {
    @media (max-width: $mobileWidth) {
        @content;
    }
}
body {
    // background: $Backgound;
    color: $text-color;
    width: 100%;
    height: 100vmax;
    background: linear-gradient(119deg, #332f2f 0%, #464646 100%);
    font-family: "Agency FB";
}

.header {
    @include flexCenter(row);
    position: fixed;
    z-index: 1;

    background-color: $headerBackground;
    width: 100%;
    height: $headerHeight;
    top: 0rem;
    box-shadow: $headerShadow;

    padding: 30px 30px;
    // box-shadow: $shadow;

    margin: 0 0;

    @include mobile {
        display: none;
    }

    #{&}-left {
        align-self: center;
        a {
            &:hover {
                color: $accent;
            }
        }
    }

    
    .header-logo {
        align-self: center;
        a {
            align-self: center;
            max-width: 200px;
            font-weight: map-get($font-weights, bold);
            font-family: "showcard gothic";
            background: $accent;
            color: $text-color;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 25px;
            line-height: 25px;
            border-radius: 5px;
            &:hover {
                box-shadow: $shadow;
            }
        }
    }

    a {
        color: $text-color;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 25px;
        line-height: 25px;
        border-radius: 5px;
    }
}

.header-right {
    margin-left: auto;
    align-self: center;

    -webkit-box-orient: horizontal;
    .search-box {
        width: 305px;
        height: 42px;
        box-shadow: $serachShadowSmall;
        border: 1px solid $searchBackground;
        background-color: $searchBackground;

        color: $text-color;
        font-family: "Agency FB";
        font-size: 18px;
        font-weight: 400;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        &:hover {
            box-shadow: $shadow;
        }
    }
    align-self: center;
    a {
        align-self: center;
        max-width: 150px;

        font-family: "showcard gothic";
        background: $accent;
        color: $text-color;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 25px;
        border-radius: 5px;
        &:hover {
            box-shadow: $shadow;
        }
    }
    img {
        max-width: 150px;
        font-weight: map-get($font-weights, bold);
        background: $accent;
        color: $text-color;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 25px;
        line-height: 25px;
        border-radius: 5px;
        &:hover {
            box-shadow: $shadow;
        }
    }
}
.logoHeader{
    background: $accent;
}
  
.content-container {
    position: absolute;
    top: $headerHeight;
    width: 100%;
    margin: auto auto;

    .main-container {
        margin: 280px auto;

        @include flexCenter(column);

        .main-logo {
            margin-bottom: 25px;
            align-self: center;
            &:hover {
                box-shadow: $shadow;
            }
        }

        .main-text {
            align-self: center;

            text-align: center;
            width: 650px;
            height: 135px;
            color: #fffbfb;
            font-family: "Agency FB";
            font-size: 35px;
            font-weight: 700;
        }
    }
}
.main {
    @include flexCenter(row);
    align-self: center;

    width: 100%;
    max-width: 1160px;
    height: 90px;
    margin-bottom: 25px;
    border-radius: 100;
    box-shadow: 0 15px 6px rgba(0, 0, 0, 0.5);

    #{&}-search-box {
        vertical-align: center;
        padding: 10px;
        border-radius: 100;
        background-color: #fffbfb;

        width: 100%;
        height: 100%;
        color: #000000;
        font-family: "Agency FB";
        font-size: 35px;
        font-weight: 400;
    }
}

.movies__container {
    width: 80%;
    box-shadow: 15px 15px 6px rgba(0, 0, 0, 0.5);
    background-color: #2a2727;

    margin: auto auto;
    .movies_header {
        margin-top: 1rem;
        padding: 20px;

        display: flex;
        justify-content: space-between;
        
    }
    #Filter{
        background: $searchBackground;
        border:  none;
        border-radius: 10px;
        height: 40px;
        padding: 2px;
        font-size: 25px;
    }
    .movies_header_heading{
        background: $accent;
        padding: 7px;
        border-radius: 10px;
        font-size: 35px;
    }
    .list_of_movies {
        padding: 20px;
        display: flex;
      ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: space-around;
            .movieBanner_container {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                margin-bottom: 20px;
                padding: 10px;
                a {
                    position: relative;
                    width: 217px;
                    height: 324px;
                  
                    color: $text-color;
                    img {
                        width: 217px;
                        height: 324px;
                        border-radius: 10px;

                    }

                    label {
                        /* Style for "Rectangle" */
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        
                        border-radius: 10px;
                        width: 217px;
                        height: 45px;
                        background-image: linear-gradient(
                            to top,
                            #000000 0%,
                            rgba(3, 3, 3, 0.81) 50%,
                            rgba(0, 0, 0, 0) 100%
                        );
                        text-align: center;
                        text-size-adjust: auto;
                        font-family: "Agency FB";
                        font-family: "Agency FB";
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
