$Backgound : #282929;
$accentGradient : linear-gradient(to left, #c79864, #cc7f39);
$accent : #C79864;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'AnthoniSignature';
    src: url('../static/fonts/AnthoniSignature.ttf');
    src:
        local('Anthoni Signature'),
        local('Anthoni-Signature'),
        url('../static/fonts/AnthoniSignature.ttf') format('opentype');
}

body{
    background-color:$Backgound ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        font-family: AnthoniSignature;
        color: $accent;
    }
}